
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.nav__logo {
    font-size: 2rem;
}

nav, .nav__links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav__links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
p {
    color: rgb(85, 85, 85);
}

a {
    transition: all 300ms ease;
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

.nav__logo:hover {
    cursor: default;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* HAMBURGER */ 
#nav__hamburger {
    display: none;
}

.hamburger__menu {
    position: relative;
    display: inline-block;
}

.hamburger__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger__icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 300ms ease-in-out;
}

.menu__links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.menu__links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu__links li {
    list-style: none;
}

.menu__links.open {
    max-height: 300px;
}

.hamburger__icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger__icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger__icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger__icon span:first-child {
    transform: none;
}

.hamburger__icon span:first-child {
    opacity: 1;
}

.hamburger__icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* profile section */

#hero__profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
} 

.section__pic__container>img {
    border-radius: 50%;
    border: 2px solid grey;
}

.section__pic__container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.section__text__title {
    font-size: 3rem;
    text-align: center;   
}

#section__socials__container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */

.section__profile__btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn__1, .btn__2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn__1:hover, .btn__2:hover {
    cursor: pointer;
}

.btn__2, .btn__1:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn__2:hover {
    background: rgb(0, 0, 0);
}

.btn__1 {
    background: none;
    width: 11rem;
}

.btn__1:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

/* About Section */

.about__section__container {
    display: flex;
}

#about {
    position: relative;
}

.about__containers {
    gap: 2rem;
    margin: 2rem 0;
}

.about__section__detail__container {
    justify-content: center;
    flex-direction: column;
}

.about__containers, .about__section__detail__container {
    display: flex;
}

.details__container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.about__section__container {
    gap: 4rem;
    height: 80%;
}

.about__section__pic__container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

/* Experience Section */

#experience {
    position: relative;
}

.experience__subtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience__details_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article__container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* Projects Section */

.article__container img {
    object-fit: cover;
}

#projects {
    position: relative;
}

.color__container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project__img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project__title {
    margin: 1rem;
    color: black;
}

.project__btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* Contact Me */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 17vh;
    margin-bottom: 10rem;
}

.contact__info__upper__container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact__info__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact__info__container p {
    font-size: larger;
}

.contact__icon {
    cursor: default;
}

.email__icon {
    height: 2.5rem;
}


footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}